﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <!--menu-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="~/Home/Index" class="navbar-brand">Main</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--main content-->
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2018 - Metropolitane</p>
        </footer>
    </div>
</body>
</html>