﻿@model MetropolitaneWebApiServer.DataDb.Unit

@{
    ViewData["Title"] = "Create Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content" style="margin:auto; width:70%;">
    <h2>CreateUnit</h2>

    <h4>Unit</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="home" asp-action="create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label">Id</label>
                    <input type="number" asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnitId" class="control-label">UnitId</label>
                    <input type="text" asp-for="UnitId" class="form-control" />
                    <span asp-validation-for="UnitId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Available" class="control-label">Available</label>
                    <input type="radio" asp-for="Available" class="form-control" />
                    <span asp-validation-for="Available" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LeaseTerm" class="control-label">LeaseTerm</label>
                    <input type="text" asp-for="LeaseTerm" class="form-control" />
                    <span asp-validation-for="LeaseTerm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LeaseExpirationDate" class="control-label">LeaseExpirationDate</label>
                    <input type="date" asp-for="LeaseExpirationDate" class="form-control" />
                    <span asp-validation-for="LeaseExpirationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Area" class="control-label">Area</label>
                    <input type="number" asp-for="Area" class="form-control" />
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RentPerMonth" class="control-label">RentPerMonth</label>
                    <input type="number" asp-for="RentPerMonth" class="form-control" />
                    <span asp-validation-for="RentPerMonth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TargetRentPerMonth" class="control-label">TargetRentPerMonth</label>
                    <input type="number" asp-for="TargetRentPerMonth" class="form-control" />
                    <span asp-validation-for="TargetRentPerMonth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discription" class="control-label">Discription</label>
                    <input  type="text" asp-for="Discription" class="form-control" />
                    <span asp-validation-for="Discription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TenantId" class="control-label">TenantId</label>
                    <input type="number" asp-for="TenantId" class="form-control" />
                    <span asp-validation-for="TenantId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <button class="btn btn-default">@Html.ActionLink("Back To Unit List", "Index", "Home")</button>
    </div>
</div>

