﻿@model MetropolitaneWebApiServer.DataDb.Unit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="home" asp-action="Edit" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitId" class="control-label"></label>
                <input asp-for="UnitId" class="form-control" />
                <span asp-validation-for="UnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Available" class="control-label"></label>
                <input asp-for="Available" class="form-control" />
                <span asp-validation-for="Available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaseTerm" class="control-label"></label>
                <input asp-for="LeaseTerm" class="form-control" />
                <span asp-validation-for="LeaseTerm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaseExpirationDate" class="control-label"></label>
                <input asp-for="LeaseExpirationDate" class="form-control" />
                <span asp-validation-for="LeaseExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentPerMonth" class="control-label"></label>
                <input asp-for="RentPerMonth" class="form-control" />
                <span asp-validation-for="RentPerMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetRentPerMonth" class="control-label"></label>
                <input asp-for="TargetRentPerMonth" class="form-control" />
                <span asp-validation-for="TargetRentPerMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discription" class="control-label"></label>
                <input asp-for="Discription" class="form-control" />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantId" class="control-label"></label>
                <input asp-for="TenantId" class="form-control" />
                <span asp-validation-for="TenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

