﻿@model IEnumerable<MetropolitaneWebApiServer.DataDb.Unit>

@{
    ViewData["Title"] = "Units List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-content" style="margin:0px 30px;">
    <h2>List</h2>

    <p>
        <button class="btn btn-default">@Html.ActionLink("Create New Unit", "CreateUnit", "Home")</button>
    </p>

    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">

                <table id="list-table" class="table table-bordred table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Available)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LeaseTerm)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LeaseExpirationDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Area)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RentPerMonth)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TargetRentPerMonth)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Discription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TenantId)
                            </th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitId)
                                </td>
                                <td>
                                    @if (item.Available == true)
                                    {
                                       <p>Available</p>
                                    }
                                    else
                                    {
                                        <p>Occupied</p>
                                   }

                               </td>
                               <td>
                                   @Html.DisplayFor(modelItem => item.LeaseTerm)
                               </td>
                               <td>
                                   @Html.DisplayFor(modelItem => item.LeaseExpirationDate)
                               </td>
                               <td>
                                   @Html.DisplayFor(modelItem => item.Area)
                               </td>
                               <td>
                                   @Html.DisplayFor(modelItem => item.RentPerMonth)
                               </td>
                               <td>
                                   @Html.DisplayFor(modelItem => item.TargetRentPerMonth)
                               </td>
                               <td>
                                   @Html.DisplayFor(modelItem => item.Discription)
                               </td>
                               <td>
                                   @Html.DisplayFor(modelItem => item.TenantId)
                               </td>
                               <td>
                                   <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                                @Html.ActionLink("Edit", "Edit", "Home", new {  id=item.Id }) 

    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

                                    </td>
                                <td>
                                    <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control " type="text" placeholder="Mohsin">
                </div>
                <div class="form-group">

                    <input class="form-control " type="text" placeholder="Irshad">
                </div>
                <div class="form-group">
                    <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>


                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>*@

<script>
    $(document).ready(function () {
        $("[data-toggle=tooltip]").tooltip();
    });
</script>
